* {
    margin: 0px;
    padding: 0px;
    border: border-box;
    font-family: Arial, sans-serif;
}

.d-navbar {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 25px;
    background-color: #f85606;
}
.nav-anch {
    color: white;
    text-decoration: none;
    font-size: 12px;
    margin-top: 3px;
}
.navbar-span {
    color: white;
    font-size: 13px;
}
.navbar-s-logo {
    display: flex;
    align-items: center;
    padding: 0px 7px 4px 1px;
}
.navbar-s-img {
    background-image: url("download\ \(1\).png");
    background-size: cover;
    width: 20px;
    height: 20px;
}
