* {
    margin: 0px;
    padding: 0px;
    border: border-box;
    font-family: Arial, sans-serif;
}

.d-navbar {
    display: ;
    width: 100%;
    height: 25px;
    background-color: #f85606;
}
.nav-anch {
    color: white;
    text-decoration: none;
    font-size: 12px;
}