* {
    margin: 0px;
    padding: 0px;
    border: border-box;
    font-family: Arial, sans-serif;
}

.d-navbar {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 25px;
    background-color: #f85606;
}
.nav-anch {
    color: white;
    text-decoration: none;
    font-size: 12px;
    margin-top: 3px;
}
.navbar-span {
    color: white;
    font-size: 13px;
}
.navbaar
.navbar-s-img {
    background-image: url("download\ \(1\).png");
}